  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address_1 %><br />
    <%= f.text_field :address_1 %>
  </p>
  <p>
    <%= f.label :address_2 %><br />
    <%= f.text_field :address_2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :map_query %><br />
    <%= f.text_field :map_query %>
  </p>
  <p>
    <%= f.label :zoom %><br />
    <%= f.text_field :zoom %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
 