<% @page_title = 'Listing Locations' %>

<table>
  <tr>
    <th>Name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Description</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%=h location.name %></td>
    <td><%=h location.address_1 %></td>
    <td><%=h location.address_1 %></td>
    <td><%=h location.city %></td>
    <td><%=h location.state %></td>
    <td><%=h location.zip %></td>
    <td><%=h location.description %></td>
    <td><%= link_to 'Show', admin_location_path(location) %></td>
    <td><%= link_to 'Edit', edit_admin_location_path(location) %></td>
    <td><%= link_to 'Destroy', admin_location_path(location), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New location', new_admin_location_path %>
