<% @page_title = 'Edit Event' %>

<% form_for([:admin, @event]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </p>
  <p>
    <%= f.label :starts_at %><br />
    <%= f.datetime_select :starts_at %>
  </p>
  <p>
    <%= f.label :ends_at %><br />
    <%= f.datetime_select :ends_at %>
  </p>
  <p>
    <%= f.label :event_category_id %><br />
    <%= f.text_field :event_category_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>
