
<% @events.each do |event| %>
	<% div_for(event) do %>
    <h3><%=h(event.name)%></h3>
    <a href="<%=h(event.location.map_url)%>">
      <img src="<%=gmap(event.location.image_url)%>" />
    </a>
	<% end %>
<% end %>
<% if @events.empty? %>
  <div class="fullWidth">
    No upcoming events yet. Keep an eye on our <%= link_to 'twitter feed', twitter %> or <%= link_to 'mailing list', google_groups %> to get all the latest information.
  </div>
<% end %>

<% content_for :back_matter do %>
  <div id="blurbs">
    <%= render :partial => 'page/blurb' %>
  </div>
<% end %>