
<% @events.each do |event| %>
	<% div_for(event) do %>
		<h2><%= time_range(event.starts_at, event.ends_at) %></h2>
		<p>
			<%= h event.location.name %><br />
			<%= link_to(h(event.name+'...'), event_path(event)) %>
		</p>
	<% end %>
<% end %>
<% if @events.empty? %>
  <div class="fullWidth">
    No upcoming events yet. Keep an eye on our <%= link_to 'twitter feed', twitter %> or <%= link_to 'mailing list', google_groups %> to get all the latest information.
  </div>
<% end %>