<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Philly.rb: Philadelphia area Ruby user group</title>
<%= stylesheet_link_tag 'default' %>
</head>
<body id="<%= action_body_id %>">
<div id="wrapper">
  <div id="page">
    <div id="header">
      <div id="logo">
        <%= image_tag 'logo.png' %>
      </div>
      <div id="menu">
        <ul>
          <li class="events_index"><%= link_to 'Events', events_path %></li>
          <li class="page_jobs"><%= link_to 'Jobs', :controller => 'page', :action => 'jobs' %></li>
          <li><%= link_to "Join Philly.rb!", "#{google_groups}/subscribe" %></li>
        </ul>
      </div>
      <h1>Philly.rb <span>Philadelphia Ruby User Group</span></h1>
      <div class="clear">&nbsp;</div>
    </div>

    <div id="news">
      <ul id="twitter_update_list">
        <li>News from <%= link_to '@philly.rb', twitter %>...</li>
      </ul>
    </div>
    
    <div id="content">
      <%= yield %>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  
  <%= yield :back_matter %>

  <div id="footer">
    <p id="legal">Copyright &copy; <%= Time.now.year %> Philly.rb. All Rights Reserved.</p>
    <p>This site was created by Philly.rb members and is hosted by <a href="http://www.kineticweb.com">Kinetic Web Solutions</a>.</p>
  </div>
</div>
<%= javascript_include_tag 'jquery-1.4.min', 'twitter.js', :cache => 'app' %>
<%= javascript_include_tag "http://twitter.com/statuses/user_timeline/#{twitter_name}.json?callback=updateTweets&count=6" %>
</body>
</html>
